<h1 align="center">Liste des utilisateurs</h1>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div align="center">
            <%= will_paginate @users %>
        </div>
        <ul class="list-group">
            <% @users.each do |user| %>
                <div class="panel pannel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <%= link_to user.username, user_path(user) %>
                            <%= gravatar_for user, size: 25 %>
                        </h3>
                    </div>
                </div>
            <% end %>
        </ul>
        <div align="center">
            <%= will_paginate @users %>
        </div>
    </div>
</div>